.test-button {
    position:absolute;
    z-index: 6;
    right:0;
    top:0;
}
.test-button + .test-button {
    top: 30px;
}
.test-button + .test-button + .test-button {
    top: 60px;
}
.test-button + .test-button + .test-button + .test-button {
    top: 90px;
}

/*button + button + button + button + button {
    top: 120px;
}
button + button + button + button + button + button {
    top: 150px;
}*/
.info-button {
    position:absolute;
    z-index: 7;
    right: 1%;
    top: 1%;
    cursor: pointer;
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-weight: 800;
    margin: auto;
    display: inline-block;
    background-color: #e48c1b;
    color: #ffffff;
}
.info-button-mobile {
    display: none;
}
@media screen and (max-width:799px){
    .info-button-mobile {
        position: absolute;
        z-index: 7;
        right: 0%;
        bottom: 0%;
        height: 10%;
        width: 15%;
        cursor: pointer;
        font-family: Raleway, sans-serif;
        font-size: 30px;
        font-weight: 800;
        display: inline-block;
        background-color: #e48c1b;
        color: #ffffff;
    }
    .info-button {
        display: none;
    }
}
body {
    margin: 0;
    padding: 0;
}
