<div id="grid"></div>
<donate [totalState]="totalState" [total]="grid.selectTotal" [dfId]="grid.dfId"></donate>
<button class="test-button" (click)="gridButton2(this.grid)">CLICK ME</button>
<button class="test-button" (click)="revealByIndex([1, 2, 3, 4, 5])">REVEAL</button>
<button class="test-button" (click)="apiService.updateGrid(grid._id, [10, 11])">POST</button>
<button class="test-button" (click)="showModal()">SHOW MODAL</button>
<button class="info-button" (click)="showInfo()">&#9432; Help</button><!--&#9432; for Info-->
<thank-you-modal [show]="modalState" [total]="grid.selectTotal" (closed)="modalClosed($event)"></thank-you-modal>
<information [show]="infoState" (closed)="infoClosed($event)"></information>