h1 {
    font:300 3em/1.1 'Oswald-Light', sans-serif;
    color: #00305d;
    text-align: center;
}
h2 {
    font:300 2em/1.1 'Oswald-Light', sans-serif;
    color: #00305d;
    text-align: center;
}
p {
    color: #000000;
    font-size: 16px;
    font-family: Raleway, sans-serif;
    line-height: 28px;
}
md-card + md-card {
    margin-top:10px;
}
.donate-button {
    margin: 8px auto;
    display:block;
}
.payment-info {
    text-align:center;
}
.payment-info button {
    margin-bottom:8px;
}
.bank-type md-radio-button {
    display: inline-block;
    margin: auto;
}
.full-width {
    width:100%;
}
#donate-wrapper {
    background:#00529c;
    position: fixed;
    overflow-y:auto;
    right: 0;
    top: 0;
    height: 100%;
    width: 24%;
    padding: 0.5%;
}
#mobile-donate-wrapper {
    display: none;
}
@media screen and (min-width: 800px) and (max-width:1200px){
    p {
        font-size:13px;
        line-height: 1.75em;
    }
}
@media screen and (max-width: 799px) {
    #donate-wrapper {
        display:none;
    }
    #mobile-donate-wrapper {
        background:#ffffff;
        position: fixed;
        bottom: 0;
        top: auto;
        height: 10%;
        width: 100%;
    }
}

/* Fix for Material Design select boxes */
.select-container {
    display: inline-block;
    position: relative;
    top: -2px;
    margin: 16px 0;
}
.md-select-placeholder.md-floating-placeholder {
    top: 0;
    left: 0;
    transform: translateY(-100%) scale(.75);
}
