<div id="donate-wrapper">
  <total [finish]="finish" [totalState]="totalState" [total]="total"></total>
  <description [totalState]="totalState" (done)="done($event)"></description>
  <form [formGroup]="donate" (ngSubmit)="onSubmit(donate)" novalidate>
    <md-card formGroupName="details">
      <h2>Your Details</h2>
        <div formGroupName="name">
          <md-input-container>
            <input md-input placeholder="First name" formControlName="first">
          </md-input-container>
          <md-input-container>
            <input md-input placeholder="Last name" formControlName="last">
          </md-input-container>
        </div>
        <div formGroupName="address">
          <md-input-container class="full-width">
            <input md-input placeholder="Street" formControlName="street">
          </md-input-container>
          <md-input-container>
            <input md-input placeholder="City" formControlName="city">
          </md-input-container>
          <div class="select-container">
            <md-select placeholder="State" formControlName="state">
              <md-option *ngFor="let state of states" [value]="state.value">{{state.viewValue}}</md-option>
            </md-select>
          </div>
          <md-input-container>
            <input md-input placeholder="Zip code" formControlName="zip">
          </md-input-container>
          <md-select placeholder="Country" class="select-container" formControlName="country">
            <md-option *ngFor="let country of countries" [value]="country.value">{{country.viewValue}}</md-option>
          </md-select>
        </div>
        <div formGroupName="contact">
          <md-input-container>
            <input md-input placeholder="Phone number" formControlName="phone">
          </md-input-container>
          <md-input-container>
            <input md-input type="email" placeholder="Email address" formControlName="email">
          </md-input-container>
        </div>
    </md-card>
    <md-card formGroupName="payment">
      <h2>Payment Information</h2>
      <div class="payment-info">
        <button class="btn-lg" [ngClass]="{'orange': getPaymentMethod() === 'card'}" (click)="setPaymentMethod('card')" md-raised-button>Credit card</button>
        <button class="btn-lg" [ngClass]="{'orange': getPaymentMethod() === 'ach'}"  (click)="setPaymentMethod('ach')"  md-raised-button>Bank account</button>
        <button class="btn-lg" [ngClass]="{'orange': getPaymentMethod() === 'paypal'}"  (click)="setPaymentMethod('paypal')"  md-raised-button>PayPal</button>
      </div>
      <md-card formGroupName="credit" *ngIf="getPaymentMethod() === 'card'">
        <md-input-container>
          <input md-input type="number" placeholder="Card number" formControlName="number">
        </md-input-container>

        <md-input-container>
          <input md-input type="number" placeholder="CVV" formControlName="cvv">
        </md-input-container>

        <div class="select-container">
          <md-select placeholder="Month" formControlName="expMonth">
            <md-option *ngFor="let month of months" [value]="month.value">{{month.viewValue}}</md-option>
          </md-select>
        </div>

        <div class="select-container">
          <md-select placeholder="Year" formControlName="expYear">
            <md-option *ngFor="let year of years" [value]="year">{{year}}</md-option>
          </md-select>
        </div>
      </md-card>

      <md-card formGroupName="ach" *ngIf="getPaymentMethod() === 'ach'">
        <md-input-container>
          <input md-input type="number" placeholder="Routing number" formControlName="routing">
        </md-input-container>

        <md-input-container>
          <input md-input type="number" placeholder="Account number" formControlName="account" required>
        </md-input-container>
        <div class="bank-type">
          <md-radio-group>
            <md-radio-button value="checking">Checking</md-radio-button>
            <md-radio-button value="savings">Savings</md-radio-button>
          </md-radio-group>
        </div>
      </md-card>
      <md-card *ngIf="getPaymentMethod() === 'paypal'">
        <p>Your donation will be completed using PayPal.</p>
      </md-card>
      <total [finish]="finish" [totalState]="totalState" [total]="total"></total>
      <button class="donate-button btn-lg" md-raised-button color="accent">Donate Now!</button>
    </md-card>
  </form>
</div>

<div id="mobile-donate-wrapper">
  <h2>Giving Grid</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer scelerisque, lacus sed dictum volutpat, nisl augue elementum nisi, at sollicitudin turpis felis id leo. Curabitur placerat malesuada dignissim. Nullam placerat risus ac sagittis faucibus. Proin condimentum semper egestas. Vivamus quis metus eget tellus egestas faucibus sed nec lectus.</p>
  <button class="btn-lg" color="accent" md-raised-button (click)="showMobile(true)">Donate Now!</button>
</div>
<div class="overlay" *ngIf="_isMobile"></div>
<div class="modal" *ngIf="_isMobile">
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="close" (click)="close()">&times;</button>
      <div class="modal-header">
        <h3 class="modal-title">Your Details</h3>
      </div>
      <div class="modal-body">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          
        <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>
      <div class="modal-footer">
        <button class="btn-lg" color="accent" md-raised-button type="button" (click)="close()">Reveal My Squares!</button>
      </div>
    </div>
  </div>
</div>