/* General donation form styles */
.donate-button {
    margin: 8px auto;
    display:block;
}
.payment-info {
    text-align:center;
}
.payment-info button {
    margin-bottom:8px;
}
.bank-type {
    margin-top: 8px;
}
.bank-type md-radio-button {
    display: inline-block;
    margin: auto;
}
.bank-type md-hint {
    position: static;
}
.full-width {
    width:100%;
}
md-hint {
    color: #f44336;
    font-weight:bold;
}
.info-button {
    z-index: 7;
    top: 1%;
    width: 100%;    
    cursor: pointer;
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-weight: 800;
    margin: auto;
    display: inline-block;
    background-color: #e48c1b;
    color: #ffffff;
}
.info-button-mobile {
    display: none;
}


/* Donation form wrappers */
#donate-wrapper {
    background:#dddddd;
    position: fixed;
    overflow-y:auto;
    right: 0;
    top: 0;
    height: 100%;
    width: 24%;
    padding: 0.5%;
}
#mobile-donate-wrapper {
    display: none;
}

/* Media query to show and hide the mobile donation form and to adjust text size for mobile. */
@media screen and (min-width: 800px) and (max-width:1200px){
    p {
        font-size:13px;
        line-height: 1.75em;
    }
}
@media screen and (max-width: 799px) {
    #donate-wrapper {
        display:none;
    }
    #mobile-donate-wrapper {
        display: block;
        background:#ffffff;
        position: fixed;
        bottom: 0;
        top: auto;
        height: 10%;
        width: 100%;
    }
    .info-button-mobile {
        border: 1px grey solid;
        height: 100%;
        width: 20%;
        position: absolute;   
        cursor: pointer;
        font-size: 30px;
        display: inline-block;
        background-color: #e48c1b;
        color: #ffffff;
        right: 0;
        padding: 0;
    }
    .info-button {
        display: none;
    }
}
@media screen and (max-width: 380px) {
    .info-button-mobile {
        right: -10px;
    }
}

/* Mobile donation form styles */
#mobile-donate-wrapper h2 {
    font-size:18px;
    margin:auto;
    display:block;
}

/* Fix for Material Design select boxes */
md-input-container {
    width:49%;
}
.select-container {
    width:49%;
    display: inline-block;
    position: relative;
    line-height:normal;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    text-align:left;
}
.md-select-placeholder.md-floating-placeholder {
    top: 0;
    left: 0;
    transform: translateY(-100%) scale(.75);
}
md-select {
    width:100%;
    margin: 16px 0 16px 0;
}
.md-select-trigger {
    padding-bottom:9px;
}
@media screen and (max-width: 1200px){
    md-input-container {
        width:100%;
    }
    .select-container {
        width:100%;
    }
}