body {
    margin: 0;
    padding: 0;
}
.text {
    fill: #fff;
}
.cell {
    fill: #a61d26;
    box-shadow: 10px 10px 5px #888888;
}
.selected {
    fill: #42efef;
}
.revealed {
    fill: transparent;
    opacity: 0;
    transition: 2s ease-in-out;
}
