/*body svg {
    height: 100%;
    margin: 0;
    width: 100%;
    float: left;
}*/
body {
    margin: 0;
    padding: 0;
}
button {
    position:absolute;
    z-index: 6;
}
.text {
    fill: #fff;
}
.cell {
    fill: #a61d26;
}
.selected {
    fill: #42efef;
}
