body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    overflow: hidden;
}
a {
    color: #00529c;
    text-decoration: none;
    font-weight: bold;
}
.text {
    fill: #ffffff;
    font-family:'Arial Narrow';
    -webkit-transition: all 1s;
    transition: all 0.5s;
    -webkit-transition: font-size 0s;
    transition: font-size 0s;
    position: relative; 
}
.cell, .spacer, .cell svg {
    fill: #00529c;
}
.cell:hover {
    fill: #00305d;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.selected {
    fill: #60c1cc;
}
.selectedText, .selectedTspan {
    fill: #00529c;
}
.selected:hover{
    fill:#60c1cc;
}
.revealed {
    fill: transparent;
    opacity: 0;
    transition: 2s ease-in-out;
    cursor: default !important;
    pointer-events: none;
}
h1, h2, h3, h4 {
    opacity: 0.87;
    font: 300 3em/1.1 'Oswald-Light', sans-serif;
    color: #00305d;
    text-align: center;
    cursor: default;
    margin: 15px auto;
}
p {
    opacity:0.87;
    color: #000000;
    font-size: 16px;
    font-family: Raleway, sans-serif;
    line-height: 28px;
    cursor: default;
}
button.btn-lg {
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-weight: 800;
    margin: auto;
    display:inline-block;
}
button.btn-lg:hover {
    background-color: #a61d26;
    color:#ffffff;
}
button.btn-lg.orange {
    background-color: #e48c1b;
    color:#ffffff;
}
button.btn-lg.orange:hover {
    background-color: #a61d26;
    color:#ffffff;
}

.loading-logo {
    width:50%;
    height: auto;
    display:block;
    margin: 50px auto;
}
.loading-gif {
    margin:auto;
    position:absolute;
    width:25%;
    height: 25%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.paypal-pixel {
    position: absolute;
    left: -10000px;
}
.total {
    background: #00529c;
}
.total h2 {
    color: white;
}
.total-mobile, .mobile-donate {
    display: none;
}
.clear {
    float: right;
    background-color: #60c1cc;
    color: #00529c;
    z-index: 7;
    cursor: pointer;
    font-family: Raleway, sans-serif;
    font-weight: 800;
    margin: auto;
    display: inline-block;
}
.material-icons {
    vertical-align: text-top !important;
}

@media screen and (max-width:799px){
    .loading-logo {
        width:90%; 
    }
    .loading-gif {
        width:50%;
        height:50%;
    }
    .total {
        display: none;
    }
    #mobile-donate-wrapper > total > .total-mobile {
        position: absolute;
        height: 100%;
        margin-bottom: 0px;
        left: 40%;
        background: #00529c;
        display: inline-block;
        width: 40%;
        border: 1px grey solid;
        margin-bottom: 10px;
        z-index: 10;
    }
    .total-mobile h2 {
        font-size: 2em;
        line-height: 10px;
        color: white;
    }
    .mobile-donate {
        border: 1px grey solid !important;
        height: 100%;
        position: absolute !important;
        width: 40%;
        padding: 0;
        font-size: 25px !important;
        line-height: 0px !important;
    }
    .donate-button {
        margin: auto !important;
        left: 0;
        width: 47%;
        font-size: 24px !important;
        padding: 14px 0px !important;
    }
    .material-icons {
        font-size: 36px !important;
    }
}
@media (max-width: 615px) and (orientation: landscape) {
    .total-mobile h2 {
        font-size: 2em;
        line-height: 0px;
    }
    .material-icons {
        font-size: 29px !important;
    }
}
@media (max-width: 615px) and (orientation: portrait) and (max-height: 750px) {
    .total-mobile h2 {
        font-size: 1.25em;
        line-height: 25px;
    }
}

@media (min-width: 750px) and (max-width: 800px) and (min-height: 750px) and (orientation: portrait) {
    .total-mobile h2 {
        font-size: 3em;
        line-height: 60px;
    }
    .material-icons {
        font-size: 75px !important;
    }
    .mobile-donate {
        font-size: 65px !important;
    }
}

md-card {
    margin-bottom: 10px;
}
.md-input-placeholder {
    color: rgba(0, 0, 0, 0.75);
    font-size: 115%;
}

/* Modal styles */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
    cursor: pointer;
}
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    text-align: center;
    width: 90%;
}
.modal-header > h4 {
    line-height: 50px;
}
.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    overflow-y: auto;
}
.modal-content p {
    margin-right: 60px;
    font-size: 18px;
}
.info-image {
    float: left;
    box-shadow: 2px 2px 5px #888888;
    width: 30%;
    margin: 25px 100px 0px 0px;
}
.close {
    color: #aaa;
    float: right;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    background-color: transparent;
    border: none;
    z-index: 10000;
    position: relative;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    -webkit-animation:spin .25s linear;
    -moz-animation:spin .25s linear;
    animation:spin .25s linear;
}
@-moz-keyframes spin { 100% {
     -moz-transform: rotate(180deg); } 
}
@-webkit-keyframes spin { 100% {
     -webkit-transform: rotate(180deg); } 
}
@keyframes spin { 100% {
     -webkit-transform: rotate(180deg); 
     transform:rotate(180deg); } 
}
@media screen and (max-width:799px){
    h1, h2, h3, h4 {
        font: 300 2.75em/0.75 'Oswald-Light', sans-serif;
    }
    p {
        line-height: 20px;
    }
    .modal {
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        margin: 0;
        transform: translate(0,0);
        overflow-y: auto;
    }
    .modal-content p {
        margin-right: 0px;
        font-size: 16px;
    }
    .info-image {
        display: none;
    }

}

/* Modal Social Share Styles */
.sb-container h3 {
    font: 300 2em/1 'Oswald-Light', sans-serif;
}
.sb-container .sb-buttons {
    width: 30%;
    margin: 0px auto !important;
}
.sb-button button {
    font-size: 1.2em;
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out; 
}
.sb-button button:hover {
    font-size: 0.4em;
}
@media screen and (max-width:799px){
    .sb-container .sb-buttons {
        width: 100%;
    }
}

/* Material Design override to keep fields with errors red */
md-input-container label.md-input-placeholder.md-warn {
    color: #f44336;
}
md-input-container.ng-dirty.ng-invalid.ng-touched .md-input-underline {
    border-color: #f44336;
}
label.md-input-placeholder {
    color: rgba(0, 0, 0, 0.87);
}
.md-select-placeholder {
    color: rgba(0, 0, 0, 0.87);
}
md-select.ng-invalid.ng-touched .md-select-placeholder {
    color: #f44336;
}