/* You can add global styles to this file, and also import other style files */
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@font-face {
    font-family: 'Raleway';
    src: url('./assets/fonts/raleway-regular.ttf');
}
@font-face {
    font-family: 'Oswald-Light';
    src: url('./assets/fonts/oswald-light.ttf');
} 