<div *ngIf="state" [@fadeInOut]="'in'" class="overlay" (click)="close()"></div>
<div *ngIf="state" id="ty-modal" class="modal" role="dialog">
  <div class="modal-dialog">
    <div [@flyInOut]="'in'" class="modal-content">
      <button type="button" class="close" (click)="close()">&times;</button>
      <div class="modal-header">
        <h4 class="modal-title">Thank You for Saving Lives!</h4>
      </div>
      <div class="modal-body">
        <p>Your generous donation of <strong>${{ total }}</strong> to the <em>On Wings of Eagles</em> ministry will help rescue the next Jewish person anxiously waiting to escape danger and suffering!</p>
          
        <p>It is difficult to express just how much your gifts mean to Rabbi Eckstein, The <em>Fellowship</em>, and most importantly the families, children, and Holocaust survivors whose lives are changed for the better because of you.</p>
        
        <p>As other ministry partners participate in the <strong>Give Together</strong> community effort, more of the hidden image will be revealed to show the impact of your support. Please check back soon to see how the image unveils at <a href="{{ url }}">{{ url }}</a>. In the coming days, we will send you an emailed report on the number of Jewish people rescued because of your participation in this outreach!</p>
        
        <p>Look for your donation receipt in your email!</p>
      </div>
      <div class="modal-footer">
        <share-buttons 
          [title] = "title"
          [description]="description"
          [tags]="tags"

          [shareTitle]="shareTitle"
          [defaultStyle]="false"

          [facebook]="fbInner"
          [twitter]="twitterInner"

          [pinterest]="false"
          [linkedIn]="false"
          [google]="false"
          [tumblr]="false"
          [reddit]="false"
          [stumbleUpOn]="false"
        ></share-buttons><br />
        <button class="btn-lg" color="accent" md-raised-button type="button" (click)="close()">Reveal My Squares!</button>
      </div>
    </div>
  </div>
</div>
